footer {
  clear: both;
  position: relative;
  height: 2.5em;
  text-align: center;
  bottom: 0;
  background-color: #03193d;
  color: #a8a7a7;
  margin: 2em -1em -1em -1em;

  a {
    text-decoration: none;
    color: #a8a7a7;
    margin: 1em;
    font-size: small;
  }

  .footerLinks {
    float: left;
    margin: 0.4em;
  }

  .copyRight {
    float: right;
    font-size: small;
    margin: 0.7em 3em auto auto;
  }
}
