{% load static %}
<div class="List">
    <div class="hideList">
        <button onClick={getHidden}>
            <span>Hide List</span>
            <img src="{% static "Main/images/List/Options/up.png" %}" alt="up"/>
        </button>
    </div>

    {% include "List/Options/index.html" %}

    <div class="listTop">
        <p class="totalResults">Showing {{ total_result }} results</p>

        <button class="listBtn" onClick={getHidden}>
            <img src="{% static "Main/images/List/list-btn.png" %}" alt="list-btn"/>
        </button>
    </div>

    <div class="listItems">
        {% for item in items %}
            {% include "List/item.html" %}
        {% endfor %}
    </div>


</div>
