{% load static %}

<div class="List" id="list">
    <div class="hideList">
        <button onClick={getHidden}>
            <span>Hide List</span>
            <img src="{% static "Main/images/List/Options/up.png" %}" alt="up"/>
        </button>
    </div>

    {% include "List/Options/index.html" %}

    <div class="listTop">
        <p class="totalResults">Showing {{ total_result }} results</p>

        <button class="listBtn" onClick={getHidden}>
            <img src="{% static "Main/images/List/list-btn.png" %}" alt="list-btn"/>
        </button>
    </div>

    <div class="listItems">
        {% for item in page_obj %}
            {% include "List/item.html" with title=item.title description=item.description %}
        {% endfor %}
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

</div>
