@import "Page/styles";
@import "Header/styles";
@import "List/styles";
@import 'Footer/styles';


.App {
  background-color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

button {
  background-color: #fff;
  color: #6464c8;
  border-radius: 0.5em;
  border-color: #6464c8;
  padding: 0.3em;
  margin: auto 0.5em auto 0.5em;
}
